@import 'partials/fonts';
@import 'partials/helpers';
@import 'partials/variables';

body {
	font-family: Muli;
	font-size: 20px;
	line-height: 1.8em;
	padding-top: 150px;
}

.margin-top {
	margin-top: $gutter*4;
}

.container {
	max-width: 995px;
	
	.sidebar {
		float: left;
		width: 20%;
	}
	
	.content {
		float: right;
		width: 70%;
	}
	
}

.footer {
	padding: $gutter 0;
	line-height: 1em;
}

.nav-version-b {
	background: #fff;
	text-align: center;
	position: fixed;
	overflow: hidden;
	z-index: 10;
	right: 0;
	left: 0;
	top: 0;
	padding: 20px 0;
	
	.logo.horizontal {
		height: 52px;
		width: 200px;
		background:url(../img/colab-horizontal-color.svg) top center no-repeat;
		background-size: contain;
		float: left;
	}
	
	.right {
		text-align: right;
	}
	
	a:not(.logo) {
		display: inline-block;
		color: #222;
		font-family: $lubalin-bold;
		font-size: 16px;
		letter-spacing: .03em;
		margin: 8px 0 0 20px;
		text-transform: uppercase;
	}
	
}

.animated {
	-webkit-animation-duration:.5s;
	-moz-animation-duration:.5s;
	-o-animation-duration:.5s;
	animation-duration:.5s;
	-webkit-animation-fill-mode:both;
	-moz-animation-fill-mode:both;
	-o-animation-fill-mode:both;
	animation-fill-mode:both;
}

@-webkit-keyframes slideDown {
	0% {
	-webkit-transform:translateY(-100%);
}

100% {
	-webkit-transform:translateY(0);
}

}@-moz-keyframes slideDown {
	0% {
	-moz-transform:translateY(-100%);
}

100% {
	-moz-transform:translateY(0);
}

}@-o-keyframes slideDown {
	0% {
	-o-transform:translateY(-100%);
}

100% {
	-o-transform:translateY(0);
}

}@keyframes slideDown {
	0% {
	transform:translateY(-100%);
}

100% {
	transform:translateY(0);
}

}.animated.slideDown {
	-webkit-animation-name:slideDown;
	-moz-animation-name:slideDown;
	-o-animation-name:slideDown;
	animation-name:slideDown;
}

@-webkit-keyframes slideUp {
	0% {
	-webkit-transform:translateY(0);
}

100% {
	-webkit-transform:translateY(-100%);
}

}@-moz-keyframes slideUp {
	0% {
	-moz-transform:translateY(0);
}

100% {
	-moz-transform:translateY(-100%);
}

}@-o-keyframes slideUp {
	0% {
	-o-transform:translateY(0);
}

100% {
	-o-transform:translateY(-100%);
}

}@keyframes slideUp {
	0% {
	transform:translateY(0);
}

100% {
	transform:translateY(-100%);
}

}.animated.slideUp {
	-webkit-animation-name:slideUp;
	-moz-animation-name:slideUp;
	-o-animation-name:slideUp;
	animation-name: slideUp;
}

#c-carousel
{
	height: 100%;
	min-height: 500px;
	max-height: 1250px;
	width: 100%;
	min-width: 990px;
	overflow: hidden;
	position: relative;
	z-index: 1;
}
html, #c-carousel {
				height: 100%;
				padding: 0;
				margin: 0;
			}
			#c-carousel * {
				font-family: Arial, Geneva, SunSans-Regular, sans-serif;
				font-size: 14px;
				color: #333;
				line-height: 22px;
			}
			#wrapper {
				background-color: #fff;
				width: 100%;
				height: 450px;
				margin-top: -225px;
				overflow: hidden;
				position: absolute;
				top: 50%;
				left: 0;
			}
			#carousel img {
				display: block;
				float: left;
			}
			#prev, #next {
				background-color: rgba(255, 255, 255, 0.7);
				display: block;
				height: 450px;
				width: 50%;
				top: 0;
				position: absolute;
			}
			#prev:hover, #next:hover {
				background-color: #fff;
				background-color: rgba(255, 255, 255, 0.8);
			}
			#prev {
				left: -495px;
			}
			#next {
				right: -495px;
			}
			#pager {
				margin-left: -470px;
				position: absolute;
				left: 50%;
				bottom: 10px;
			}
			#pager a {
				border: 2px solid #fff;
				border-radius: 10px;
				display: inline-block;
				width: 10px;
				height: 10px;
				margin: 0 5px 0 0;
			}
			#pager a:hover {
				background-color: rgba(255, 255, 255, 0.5);
			}
			#pager a span {
				display: none;
			}
			#pager a.selected {
				background-color: #fff;
			}

.label {
	color: #999;
	border: 1px solid #999;
	font-size: 13px;
	text-transform: uppercase;
	padding: 4px 10px;
}

h1 span {
	color: #999;
}

.well {
	background: #dfdfdf;
	border-radius: 0;
	display: block;
	*:last-child {
		margin-bottom: 0;
	}
}

.list-bordered {
	li {
		padding: 20px 0;
		&:last-child {
			border-bottom: 0px;
		}
	}
}

.list-dashes {
	margin-left: 0;
	
	li {
		list-style: none;
		margin-bottom: 10px;
		padding-left: 1em; 
		    text-indent: -.7em;
		
		&:before {
			content: '–';
			padding-right: 10px;
		}
		
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.media {
	display: block;
	overflow: hidden;
	margin-bottom: $gutter;
	
	.media-body {
		overflow: hidden;
		zoom: 1;
		padding-top: 5px;
		padding-left: 15px;
	}
	
}

.img-small-square {
	height: 50px;
	width: 50px;
}

.img-rounded {
	border-radius: 100%;
}

blockquote.quote-full {
	background:
		linear-gradient(
	     rgba(188, 52, 62, 0.85), 
	     rgba(188, 52, 62, 0.85)
	   ),
		url(../img/ethan-colleen-at-colab-space.jpg);
	background-attachment: fixed;
	padding: 0;
	
	.container {
		display: block;
		padding: 100px 0;
	}
	
}

.callout {
	padding: 70px 0;
}

.btn-reverse {
	border: 2px solid #fff;
	background: none;
	&:hover {
		background: none;
	}
}

.text-reverse {
	color: #fff;
}

body.home {
	padding-top: 0;
	
	.home-bg {
		height: 100vh;
		background:
			linear-gradient(
		     rgba(237, 49, 61, 0.85), 
		     rgba(237, 49, 61, 0.85)
		   ),
			url(../img/ethan-colleen-at-colab-space.jpg);
		background-attachment: fixed;
		
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   
   color: #fff;
   
   h1 {
   	text-align: left;
   	max-width: 995px;
   	margin: 0 auto;
   }
	}
	
	blockquote.quote-full {
		background:
			linear-gradient(
		     rgba(255,255,255, 0.85), 
		     rgba(255,255,255, 0.85)
		   ),
			url(../img/about-image-wide.jpg);
		background-attachment: fixed;
		background-size: cover;
		background-repeat: no-repeat;
		padding: 0;
		
		cite {
			span {
				color: rgba(0,0,0,.5);
			}
		}
		
	}
	
}

.project-logos {
	line-height: 1.4em;

	img {
		opacity: .2;
		transition: all .3s;
		&:hover {
			opacity: 1;
		}
	}
}

.team-pics {
	text-align: center;
	img {
		height: auto;
		width: 100%;
	}
	.row > div > p {
		margin: 0;
		&:last-child {
			margin-bottom: 40px;
		}
	}
	.title {
		@extend .text-small;
		@extend .muted;
		text-transform: uppercase;
	}
}

a.label {
	&:hover {
		border-color: #222;
		color: #222;
	}
}