* {
	box-sizing: border-box;
}

body {
  background-color: $body-bg;
	color: $body-font-color;
	font-family: $primary-font;
	font-size: $body-font-size;
	line-height: $body-line-height;
	padding-top: 150px;
	text-rendering: optimizeLegibility;
}

h1, .h1 {
	font-family: $lubalin-bold;
}

a {
  color: $red;
  text-decoration: none;
  &:hover {
    color: darken($red, 10%);
  }
}

.container {
	margin: 0 auto;
	max-width: 900px;
	width: 90%;
}

.text-right {
	text-align: right;
}

.left {
  float: left;
}

.right {
  float: right;
}

nav {
	background: #fff;
	text-align: center;
	position: fixed;
	overflow: hidden;
	right: 0;
	left: 0;
	top: 0;
	padding: 20px 0;
	
	.logo {
		height: 52px;
		width: 200px;
		background:url(../img/colab-logo.svg) top center no-repeat;
		background-size: contain;
		float: left;
	}
	
	a:not(.logo) {
		display: inline-block;
		color: $body-font-color;
		font-family: $lubalin-bold;
		font-size: 16px;
		margin: 8px 0 0 20px;
		text-transform: uppercase;
		&:hover {
		  color: $red;
		}
	}
	
}