hr {
	border-top: 1px solid $grey;
	border-bottom: 0;
	margin: 80px auto;
	width: 60%;
}

.well {
	background: $grey-lighter;
	display: inline-block;
	margin-bottom: $gutter;
	padding: 40px;
	
	&.left {
		margin-right: $gutter;
	}
	
	&.right {
		margin-left: $gutter;
	}
	
}