@font-face {font-family: 'LubalinGraphStd-Demi';src: url('../fonts/LubalinBold.eot');src: url('../fonts/LubalinBold.eot?#iefix') format('embedded-opentype'),url('../fonts/LubalinBold.woff') format('woff'),url('../fonts/LubalinBold.ttf') format('truetype');}
 
@font-face {font-family: 'LubalinGraphStd-Book';src: url('../fonts/Lubalin.eot');src: url('../fonts/Lubalin.eot?#iefix') format('embedded-opentype'),url('../fonts/Lubalin.woff') format('woff'),url('../fonts/Lubalin.ttf') format('truetype');}

@import url(//fonts.googleapis.com/css?family=Muli:300,400,300italic,400italic);