//------------------------------------------------
// Forms

input[type="submit"], button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

textarea {
  vertical-align: top;
}

textarea, select, input[type="text"], input[type="tel"], input[type="email"], input[type="number"], input[type="password"] {
  padding: $base-spacing;

  &:focus {
    outline: 0;
    box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.1);
  }
}

label {
  padding-bottom: $base-spacing-mid;
  display: block;
}

.form-field-wrap {
	padding: $base-spacing 0;
}

.form-base {
  textarea, input[type="text"], input[type="tel"], input[type="email"], input[type="number"], input[type="password"] {
    border: none;
  }

  textarea, select, input {
  	display: block;
  	width: 100%;
  }

  input[type="submit"] {
  	display: inline-block;
  	width: auto;
  }

}

.required-label {
	&:after {
		content: "*";
		padding-left: $base-spacing-sm;
		color: $gray-medium;
	}
}
