//------------------------------------------------
// Forms

.form {

}

.form-row {
  margin-bottom: $base-spacing*6;
}

//------------------------------------------------
// Summit form

.form--summit {
  font-size: 30px;
  p {
    line-height: 1.6em;
  }
  .period {
    display: inline-block;
    position: relative;
    top: 25px;
    margin-left: 10px;
    font-size: 40px;
  }
  input[type="text"] {
    display: inline-block;
    background: $gray-light;
    border: 0px;
    border-bottom: 2px solid $gray-medium;
    color: $red;
    height: 70px;
    line-height: 1em;
    padding: 20px 0;
    margin: 0 auto;
    text-align: center;
    transition: border 1s;
    width: 90%;
    &:focus,
    &:hover {
      border-bottom: 2px solid $red;
    }
  }
  textarea {
    background: $gray-light;
    border: 0px;
    border-bottom: 2px solid $gray-medium;
    color: $red;
    resize: none;
    margin: 0 auto;
    padding: 20px;
    width: 92%;
    &:focus,
    &:hover {
      border-bottom: 2px solid $red;
    }
  }
}
