// ------------------------------------------------
// Clearing
.clear {
	clear: both;
}

.clearfix, %clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}


// ------------------------------------------------
// Grid
.col-50-flt {
	width: 50%;

}


// ------------------------------------------------
// Text Helpers

.text--align-left {
	text-align: left;
}

.text--align-center {
	text-align: center;
}

.text--align-right {
	text-align: right;
}

.lubalin {
	font-family: 'Lublin';
}

// ------------------------------------------------
// Center
.center-text, %center-text {
	text-align: center;
}

@mixin vertical-center {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


// ------------------------------------------------
// Spacing Divs
.spacing--sm {
	padding: 12px;
	width: 100%;
}

.spacing--mid {
	padding: 15px;
	width: 100%;
}

.spacing--lg {
	padding: 40px;
	width: 100%;
}

// ------------------------------------------------
// Spacing


// ------------------------------------------------
// Buttons

.button, %button {
	text-align: center;
	display: inline-block;
	font-size: 80%;
}

.button--brand-outline {
	@extend %button;
	text-transform: uppercase;
	padding: 15px;
	line-height: 1;
	color: #fff;
	border: 2px solid;
	border-radius: 3px;
}

a.button--brand-outline, .button--brand-outline {
	color: #fff;	
}
