@import 'partials/variables';

.block {
	display: block;
}

.left {
	float: left;
}

.right {
	float: right;
}

.center {
	margin: 0 auto;
}

.text-small {
	font-size: .8em;
	line-height: 1.8em;
}

.text-large {
	font-size: 1.4em;
	line-height: 1.8em;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-lowercase {
	text-transform: lowercase;
}

.text-uppercase {
	text-transform: uppercase;
}

.text-red {
	color: $red;
}

.text-white {
	color: #fff;
	a {
		color: #fff;
	}
}

.bg-red {
	background: $red;
}

.bg-dark {
	background: #333;
}

.padding-left {
	padding-left: $gutter;
}

.padding-right {
	padding-right: $gutter;
}

.padding-bottom {
	padding-bottom: $gutter;
}

.padding-top {
	padding-top: $gutter;
}

.muted {
	color: #999;
}

.muted-reverse {
	color: rgba(255,255,255,.5);
}