@media screen and (max-width: 699px) {
	.nav-menu {
	    padding: $base-spacing $base-spacing-sm;
		background: $gray-darkest;
	    position: fixed;
	    top: 45px;
	    bottom: 0;
	    height: 100%;
	    overflow-y: auto;
	    overflow-x: hidden;
	    width: $nav-menu-width;
	    right: -$nav-menu-width;
	    transition: all 0.2s ease-in;
	}

}

@media screen and (min-width: 600px) {
	.team-each {
		width: 50%;
		display: inline-block;
		vertical-align: top;
		@include grid-child;
	}

	.project-info {
		@include col-50-flt;
	}
}

@media screen and (min-width: 700px) {
	.nav {
		padding: $base-spacing-lg 0;

		.logo-svg {
			height: 52px;
			width: 200px;
		}
	}

	.nav-menu-trigger {
		display: none;
	}

	.nav-menu {
		display: block;

		a {
			display: inline-block;
			color: $gray-darkest;
			@include text--small;
		}
	}

	.grid-each {
		width: 50%;
		float: left;
		@include grid-child;

		&:nth-of-type(2n+1) {
			clear: both;
		}
	}

	.work-additional {
		width: 50%;
		float: left;		
	}

	.team-profile-intro-block {
		float: right;
		width: 70%;
	}

	.team-profile-meta, .team-profile-bio {
		float: left;
	}

	.team-profile-meta {
		width: 30%;
		position: relative;
		top: -160px;
	}

	.team-profile-bio {
		width: 70%;
	}

	.footer-connect {
	}
}

@media screen and (min-width: 800px) {
	.team-each {
		width: 33.33%;
	}
}

@media screen and (min-width: 900px) {
	.grid-each {
		width: 33.33%;
		@include grid-child;

		&:nth-of-type(2n+1) {
			clear: none;
		}

		&:nth-of-type(3n+1) {
			clear: both;
		}
	}

	.team-profile-heading {
		float: left;
	}

	.team-profile-badges {
		float: right;
	}

}

@media screen and (min-width: 1100px) {
	.team-each {
		width: 25%;
	}
}
