strong, b {
  font-weight: 700;
}

//------------------------------------------------
// Text container

/*.container--text {
  > *:last-child {
    margin-bottom: 0px;
  }
}*/

//------------------------------------------------
// Headings

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: normal;
  margin: 0 0 40px 0;
}

h1, .h1, %h1 {
  font-family: $lubalin-bold;
  font-size: 170%;
  line-height: 1.3;
 /*45px*/;
}

h2, .h2 {
  border-bottom: 2px solid $border-default-light;
  padding-bottom: $base-spacing-sm;
  font-size: 85%;
  line-height: 1.5em;
 /*24px*/;
}

.h2-border-rainbow {
  border-bottom: none;
  &:after {
		content:"";
    display: block;
    @extend %border-rainbow;
  }
}

h3, .h3 {
  font-size: 1em;
  line-height: 1.5em;
 /*24px*/;
}

h4, .h4 {
  font-size: 1em;
  line-height: 1.5em;
 /*24px*/;
}

h5, .h5 {
  font-size: 1em;
  line-height: 1.5em;
 /*24px*/;
}

h6, .h6 {
  font-size: 1em;
  line-height: 1.5em;
 /*24px*/;
}

.heading-primary, %heading-primary {
  text-align: center;
  font-family: $lubalin-bold;
  font-size: 170%;
  font-weight: normal;
  line-height: 1.3;
}

.heading-secondary, %heading-secondary {
  font-family: $lubalin-bold;
  font-size: 120%;
}

//------------------------------------------------
// Lists

ul {
  list-style-type: none;
  padding: 0;
}

.ul-default, %ul-default {
  list-style-type: none;
  list-style-position: outside;
  text-indent: -0.6em;
  margin-left: .4em;
  padding-left: $grid-padding;

  li {

    &:before {
			content: '\2022';
      color: $gray-medium;
      display: inline-block;
      padding-right: 10px;
      font-size: 90%;
    }
	}
}

ol, %ol-default {
  padding-left: 30px;
}

ul, ol {
  li ul:last-child,
  li ol:last-child {
    margin-bottom: 0;
  }
}

//------------------------------------------------
// Code

code {
  font-size: 80%;
}

//------------------------------------------------
// Blockquotes

blockquote {
  border-left: 2px solid $border-default-light;
  margin: $base-spacing*4 0 $base-spacing*4 $base-spacing*4;
  padding: $base-spacing-lg 0 $base-spacing-lg $base-spacing-lg*2;

  > *:last-child {
    margin-bottom: 0;
  }

}

//------------------------------------------------
// Image captions

.caption {
  @extend %text--small;
  color: $gray-medium;
  display: block;
  a {
    border-bottom: 1px solid;
    color: $gray-medium;
  }
}

//------------------------------------------------
// Text Variations

.text--color-default, %text--color-default {
  color: $gray-darkest;
}

.text--gray-medium, %text--gray-medium {
  color: $gray-medium;
  a {
		border-bottom: 1px solid;
  }
}

.text--normal, %text--normal {
  font-size: $body-font-size;
}

@mixin text--normal {
  font-size: $body-font-size;
}

.text--small, %text--small {
  font-size: 85%;
}

@mixin text--small {
  font-size: 85%;
}

.text--smaller, %text--smaller {
  font-size: 80%;
}

@mixin text--smaller {
  font-size: 80%;
}

.text--large, %text--large {
  font-size: 110%;
}

@mixin text--large {
  font-size: 110%;
}

.text--larger, %text--larger {
  font-size: 120%;
}

@mixin text--larger {
  font-size: 120%;
}

.text--larger, %text--largest {
  font-size: 130%;
}

@mixin text--larger {
  font-size: 130%;
}

.text--uppercase, %text--uppercase {
  text-transform: uppercase;
}

@mixin text--uppercase {
  text-transform: uppercase;
}

.text--capitalize, %text--capitalize {
  text-transform: capitalize;
}

@mixin text--capitalize {
  text-transform: capitalize;
}
