// ------------------------------------------------
// Headings

h1, .h1, %h1 {
	font-size: 170%;
	line-height: 1.5em; /*45px*/
}

h2, .h2 {
	font-size: 85%;
	line-height: 1.5em; /*24px*/
}

.h2 {
	border-bottom: 2px solid $gray-border-light;	
	padding-bottom: $base-spacing-sm;
	font-weight: normal;
}

.h2-border-rainbow {
	border-bottom: none;

	&:after {
		content:"";
		display: block;
		@extend %border-rainbow;
	}
}

.heading-primary, %heading-primary {
	text-align: center;
	font-family: $lubalin;
	font-size: 170%;
	line-height: 1.3;
}

// ------------------------------------------------
// Lists

/*ul {
	li {
		&:before {
			content: '· ';
			color: $gray-medium;
		}
	}
}*/

// ------------------------------------------------
// Text Variations

.text--gray-medium {
	color: $gray-medium;
	a {
		text-decoration: underline;
	}
}

.text--normal, %text--normal {
	font-size: $body-font-size;
	line-height: 1.8em; /*36px*/
}

@mixin text--normal {
	font-size: $body-font-size;
	line-height: 1.8em; /*36px*/	
}

.text--small, %text--small {
	font-size: 85%;
	line-height: 1.8em; /*29px*/
}

@mixin text--small {
	font-size: 85%;
	line-height: 1.8em; /*36px*/	
}

.text--smaller, %text--smaller {
	font-size: 80%;
	line-height: 1.8em; /*25px*/
}

@mixin text--smaller {
	font-size: 80%;
	line-height: 1.8em; /*25px*/	
}

.text--large, %text--large {
	font-size: 110%;
	line-height: 1.8em; /*36px*/
}

@mixin text--large {
	font-size: 110%;
	line-height: 1.8em; /*36px*/	
}

.text--larger, %text--larger {
	font-size: 120%;
	line-height: 1.8em; /*36px*/
}

@mixin text--larger {
	font-size: 120%;
	line-height: 1.8em; /*36px*/	
}

.text--larger, %text--largest {
	font-size: 130%;
	line-height: 1.8em; /*36px*/
}

@mixin text--larger {
	font-size: 130%;
	line-height: 1.8em; /*36px*/	
}
