strong, b {
  font-weight: 700;
}

//------------------------------------------------
// Empty <p> tags

p:empty {
  display: none;
}

//------------------------------------------------
// Headings

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: normal;
  margin: 0 0 40px 0;
}

.panel-bg-pattern h2,
.panel-bg-pattern .h2 {
  // Smaller bottom margin for headings in the
  // patterned panel on project profiles.
  margin-bottom: 20px;
}

h1, .h1, %h1 {
  font-family: $lubalin-bold;
  font-size: 170%;
  line-height: 1.3;
}

h2, .h2 {
  border-bottom: 2px solid $border-default-light;
  padding-bottom: $base-spacing-sm;
  font-size: 85%;
  line-height: 1.5em;
 /*24px*/;
}

.h2-border-rainbow {
  border-bottom: none;
  &:after {
		content:"";
    display: block;
    @extend %border-rainbow;
  }
}

h3, .h3 {
  font-size: 1em;
  line-height: 1.5em;
 /*24px*/;
}

h4, .h4 {
  font-size: 1em;
  line-height: 1.5em;
 /*24px*/;
}

h5, .h5 {
  font-size: 1em;
  line-height: 1.5em;
 /*24px*/;
}

h6, .h6 {
  font-size: 1em;
  line-height: 1.5em;
 /*24px*/;
}

.heading-primary, %heading-primary {
  text-align: center;
  font-family: $lubalin-bold;
  font-size: 170%;
  font-weight: normal;
  line-height: 1.3;
}

.heading-secondary, %heading-secondary {
  font-family: $lubalin-bold;
  font-size: 120%;
}

//------------------------------------------------
// Lists

ul {
  list-style-type: none;
  padding: 0;
}

.ul-default, %ul-default {
  list-style-type: none;
  list-style-position: outside;
  text-indent: -0.6em;
  margin-left: .4em;
  padding-left: $grid-padding;

  li {

    &:before {
			content: '\2022';
      color: $gray-medium;
      display: inline-block;
      padding-right: 10px;
      font-size: 90%;
    }
	}
}

ol, %ol-default {
  padding-left: 30px;
}

.ul-unstyled, %ul-unstyled {
  list-style-type: none;
  list-style-position: outside;
  margin-left: 0;
  padding-left: 0;
}

.styling-markdown .ul-multistep {

  @media (min-width: 600px) {
    border-top: 2px solid $red;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      font-size: 13px;
      position: relative;
      text-indent: 0;

      a,
      &:before {
        transition: all .2s;
      }

      a {
        color: lighten($red, 30%);
      }

      &:before {
        background: $gray-lighter;
        border: 2px solid $red;
        border-radius: 100%;
        content: '';
        font-size: 100%;
        line-height: 1;
        height: 8px;
        width: 8px;
        padding: 0;
        position: absolute;
        top: -7px;
        left: 50%;
        transform: translate(-50%, 0);
      }

      &:first-of-type {
        &:before {
          left: 0;
        }
      }

      &:last-child {
        &:before {
          left: auto;
          right: -10px;
        }
      }

      &.current,
      &:hover {

        a {
          color: $red;
        }

        &:before {
          background: $red;
        }
      }
    }
  }
}

ul, ol {
  li ul:last-child,
  li ol:last-child {
    margin-bottom: 0;
  }
}

//------------------------------------------------
// Code

code {
  background: $gray-light;
  color: $gray-dark;
  border-radius: 4px;
  display: inline-block;
  font-size: 80%;
  line-height: 1;
  padding: 5px 7px;
  position: relative;
  top: -2px;
}

//------------------------------------------------
// Blockquotes

blockquote {
  border-left: 2px solid $border-default-light;
  margin: $base-spacing*4 0 $base-spacing*4 $base-spacing*4;
  padding: $base-spacing-lg 0 $base-spacing-lg $base-spacing-lg*2;

  > *:last-child {
    margin-bottom: 0;
  }

  cite {
    display: block;
    font-size: 75%;
    font-style: normal;
    margin-top: 20px;

    img {
      border-radius: 100%;
      display: inline-block;
      float: left;
      margin-right: 15px;
      height: 40px;
      vertical-align: middle;
      width: 40px;
    }
  }

}

//------------------------------------------------
// Image captions

.caption {
  @extend %text--small;
  color: $gray-medium;
  display: block;
  a {
    border-bottom: 1px solid;
    color: $gray-medium;
  }
}

//------------------------------------------------
// Text Variations

.text--color-default, %text--color-default {
  color: $gray-darkest;
}

.text--gray-medium, %text--gray-medium {
  color: $gray-medium;
  a {
		border-bottom: 1px solid;
  }
}

.text--blue, %text--blue {
  color: $blue;
}

.text--normal, %text--normal {
  font-size: $body-font-size;
}

@mixin text--normal {
  font-size: $body-font-size;
}

.text--small, %text--small {
  font-size: 85%;
}

@mixin text--small {
  font-size: 85%;
}

.text--smaller, %text--smaller {
  font-size: 80%;
}

@mixin text--smaller {
  font-size: 80%;
}

.text--smallest, %text--smallest {
  font-size: 70%;
}

@mixin text--smaller {
  font-size: 80%;
}

.text--large, %text--large {
  font-size: 110%;
}

@mixin text--large {
  font-size: 110%;
}

.text--larger, %text--larger {
  font-size: 120%;
}

@mixin text--larger {
  font-size: 120%;
}

.text--larger, %text--largest {
  font-size: 130%;
}

@mixin text--larger {
  font-size: 130%;
}

.text--uppercase, %text--uppercase {
  text-transform: uppercase;
}

@mixin text--uppercase {
  text-transform: uppercase;
}

.text--capitalize, %text--capitalize {
  text-transform: capitalize;
}

@mixin text--capitalize {
  text-transform: capitalize;
}

.link--gray-medium, %link--gray-medium {
  color: $gray-medium;
  a {
		color: $red;
  }
}

.link--gray-medium-with-hover {
  &,
  a,
  a:hover {
    color: $gray-medium;
  }
  a:hover {
    text-decoration: underline;
  }
}
