$body-font-size:				20px;
$body-line-height:      		1.8em;

$primary-font:     			'Muli', Helvetica, sans-serif;
$oxygen-font:     			'Oxygen', Helvetica, sans-serif;

$lubalin-bold:		 			'LubalinGraphStd-Demi';
$lubalin:          			'LubalinGraphStd-Book';

$red:		  		        	#ed313d;
$blue:                  #27b0e5;
$yellow:                #fedc00;
$orange:                #f9a61c;
$green:                 #8cc541;

$gray-darkest:          #222;
$gray-dark: 		        #747474;
$gray-medium:           #a8a9ad;
$gray-light:            #eee;
$gray-lighter:          #f9f9f9;

$border-default-light:  #e0e0e0;

$base-spacing: 10px;
$base-spacing-mid: $base-spacing * 1.5;
$base-spacing-sm:  $base-spacing / 2;
$base-spacing-lg:  $base-spacing * 2;

$nav-menu-width: 150px;

$grid-padding: 16px;
