$body-font-size:				20px;
$body-line-height:      1.8em;

$primary-font:     			'Muli', Helvetica, sans-serif;

$lubalin-bold:		 			'LubalinGraphStd-Demi';
$lubalin:          			'LubalinGraphStd-Book';

$red:		  							#ed313d;
$blue:                  #27b0e5;
$yellow:                #fedc00;
$orange:                #f9a61c;
$green:                 #8cc541;

$gray-dark:             #222;
$gray-medium:           #a8a9ad;
$gray-light:            #eee;
$gray-lighter:          #f9f9f9;
