$body-bg: 				 			#f9f9f9;
$body-font-color: 			#222;
$body-font-size:				20px;
$body-line-height:      1.8em;

$primary-font:     			'Muli', Helvetica, sans-serif;

$lubalin-bold:		 			'LubalinGraphStd-Demi';
$lubalin:          			'LubalinGraphStd-Book';

$red:		  							#ed313d;