body {
	color: $body-font-color;
	font-family: $primary-font;
	font-size: $body-font-size;
	line-height: $body-line-height;
}

h1, .h1 {
	font-family: $lubalin-bold;
}

h1, .h1, 
h2, .h2, 
h3, .h3, 
h4, .h4, 
h5, .h5, 
h6, .h6, 
p, 
ul, 
ol, 
blockquote {
	margin-top: 0;
	margin-bottom: $gutter;
}

a {
	color: $red;
	text-decoration: none;
	
	&:hover {
		color: darken($red, 10%);
	}
	
}

ul, ol {
	margin-left: 25px;
	padding: 0;
}

h1, .h1, 
h2, .h2, 
h3, .h3, 
h4, .h4, 
h5, .h5, 
h6, .h6 {
	font-weight: normal;
	line-height: 1.4em;
}

h1, .h1 {
	font-size: 2.2em;
	
	span {
		font-family: $lubalin;
		color: $grey;
	}
	
	em {
		font-family: Georgia;
		font-size: .8em;
		text-transform: lowercase;
		position: relative;
		bottom: 4px;
	}
	
}

h2, .h2 {
	font-size: 1.9em;
}

h3, .h3 {
	font-size: 1.7em;
}

h4, .h4 {
	font-size: 1.4em;
}

h5, .h5 {
	font-size: 1.2em;
}

h6, .h6 {
	font-size: 1em;
}

blockquote {
	border-left: 10px solid #ccc;
	padding: 10px 0 10px 20px;
	
	*:last-child {
		margin-bottom: 0;
	}
	
	cite {
		display: block;
		font-style: normal;
		margin: 20px 0 0 0;
		
		.muted {
			color: rgba(255,255,255,.6);
		}
		
	}
	
	&.quote-full {
		border: 0;
		margin-left: 0;
		margin-right: 0;
		margin-top: 50px;
		margin-bottom: 50px;
		padding: 90px 0;
		
		.text-large {
			line-height: 1.6em;
		}
		
	}
	
}

